<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>유저의 플레이리스트</title>
</head>
<body>
<div th:replace="~{play/under :: footer}"></div>
<div class ="layout">
    <button onclick="location.href='record'">음악 기록</button>
    <button onclick="location.href='like'">좋아요</button>
    <button onclick="location.href='user_genre'">선호 장르</button>
    <button onclick="location.href='comment'">댓글</button>
    <button onclick="location.href='user_playlist'">플레이리스트</button>
</div>
</body>
</html>