<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyPage_Playlist</title>
    <link href="/css/main.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
<div th:replace="~{layout/header :: header}"></div>
<div class="my_category">
    <div th:onclick="|location.href='@{/mypage/record/{userId}(userId=${user.providerId})}'|" class="my_shortcuts">
        음악 기록
    </div>
    <div th:onclick="|location.href='@{/mypage/like/{userId}(userId=${user.providerId})}'|" class="my_shortcuts">
        좋아요
    </div>
    <div th:onclick="|location.href='@{/mypage/genre/{userId}(userId=${user.providerId})}'|" class="my_shortcuts">선호
        장르
    </div>
    <div th:onclick="|location.href='@{/mypage/comment/{userId}(userId=${user.providerId})}'|" class="my_shortcuts">
        댓글
    </div>
    <div th:onclick="|location.href='@{/mypage/playlist/{userId}(userId=${user.providerId})}'|"
         class="my_shortcuts my_record">플레이리스트
    </div>
</div>
<div class="my_body">
    <p class="my_body_title">내 플레이리스트</p>
    <table class="my_table_playlist">
        <tr th:each="playlist : ${playlistList}">
            <td style="width: 10%">
                <a th:href="@{'/mypage/playlist/albums/' + ${user.providerId} + '?userPlaylistName=' + ${playlist.userPlaylistName}}">
                    <img th:src="@{${playlist.userPlaylistImage}}" width="50">
                </a>
            </td>
            <td style="width: 90%" class="my_table_padding my_table_body">
                <span th:text="${playlist.userPlaylistName}"></span>
            </td>
        </tr>
    </table>
</div>
<div th:replace="~{play/under :: footer}"></div>
</body>
</html>