<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyPage_Playlist</title>
    <link href="/css/main.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
<div id="content">
    <div class="my_category">
        <a class="my_shortcuts my_shortcuts_d" th:attr="data-url='/mypage/record/' + ${user.providerId}">음악 기록</a>
        <a class="my_shortcuts my_shortcuts_d" th:attr="data-url='/mypage/like/' + ${user.providerId}">좋아요</a>
        <a class="my_shortcuts my_shortcuts_d" th:attr="data-url='/mypage/genre/' + ${user.providerId}">선호 장르</a>
        <a class="my_shortcuts my_shortcuts_d" th:attr="data-url='/mypage/comment/' + ${user.providerId}">댓글</a>
        <a class="my_shortcuts my_shortcuts_d current" th:attr="data-url='/mypage/playlist/' + ${user.providerId}">플레이리스트</a>
    </div>
    <div class="my_body">
    <p class="my_body_title">내 플레이리스트</p>
        <table class="my_table_playlist">
            <tr th:each="playlist : ${playlistList}">
                <td style="width: 10%">
                    <a class="my_shortcuts" th:attr="data-url='/mypage/playlist/albums/' + ${user.providerId} + '?userPlaylistName=' + ${playlist.userPlaylistName}">
                        <img th:src="${playlist.userPlaylistImage}" alt="Playlist Cover" width="50">
                    </a>
                </td>
                <td style="width: 90%" class="my_table_padding my_table_body">
                    <span th:text="${playlist.userPlaylistName}"></span>
                </td>
            </tr>
        </table>
    </div>
</div>

<script src="/js/main.js"></script> <!-- JavaScript 파일 연결 -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>