<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyPage_Comment</title>
    <link href="/css/main.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
<div id="content">
    <div class="my_category">
    <a class="my_shortcuts my_shortcuts_d" th:attr="data-url='/mypage/record/' + ${user.providerId}">음악 기록</a>
    <a class="my_shortcuts my_shortcuts_d" th:attr="data-url='/mypage/like/' + ${user.providerId}">좋아요</a>
    <a class="my_shortcuts my_shortcuts_d" th:attr="data-url='/mypage/genre/' + ${user.providerId}">선호 장르</a>
    <a class="my_shortcuts my_shortcuts_d current" th:attr="data-url='/mypage/comment/' + ${user.providerId}">댓글</a>
    <a class="my_shortcuts my_shortcuts_d" th:attr="data-url='/mypage/playlist/' + ${user.providerId}">플레이리스트</a>
    </div>

    <div class="my_body">
    <p class="my_body_title">작성한 댓글</p>
    <table class="my_table_comment">
        <tr th:each="comment : ${commentList}">
            <td style="width: 7%">
                <img th:src="@{${comment.album_image}}">
            </td>
            <td style="width: 30%" class="my_table_padding my_table_body">
                <span th:text="${comment.music_name}"></span>
            </td>
            <td style="width:46%" class="my_table_body">
                <span id="comment-text-${comment.id}" th:text="${comment.comment}"></span>
            </td>
            <td style="width: 8%">
                <button th:onclick="'editComment(' + ${comment.id}+ ')'" class="btn btn-warning my_table_button">수정</button>
            </td>
            <td style="width: 8%">
                <button th:onclick="'deleteComment(' + ${comment.id} + ')'" class="btn btn-danger my_table_button">삭제</button>
            </td>
        </tr>
    </table>

    <!-- 댓글 수정 모달 (팝업) -->
    <div id="editModal" class="my_comment_modal">
        <p class="my_comment_modal_title">댓글 수정</p>
        <input type="hidden" id="editCommentId">
        <textarea id="editCommentText" class="my_comment_modal_textarea"></textarea>
        <button onclick="saveComment()" class="my_comment_modal_save">저장하기</button>
        <button onclick="closeEditModal()" class="my_comment_modal_close">X</button>
    </div>

    <script>

    </script>
</div>
</div>
<script src="main.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>