<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyPage_Playlist</title>
    <link href="/css/main.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
<div id="content">
    <div class="my_category">
        <a class="my_shortcuts my_shortcuts_d" th:attr="data-url='/mypage/record/' + ${user.providerId}">음악 기록</a>
        <a class="my_shortcuts my_shortcuts_d" th:attr="data-url='/mypage/like/' + ${user.providerId}">좋아요</a>
        <a class="my_shortcuts my_shortcuts_d" th:attr="data-url='/mypage/genre/' + ${user.providerId}">선호 장르</a>
        <a class="my_shortcuts my_shortcuts_d" th:attr="data-url='/mypage/comment/' + ${user.providerId}">댓글</a>
        <a class="my_shortcuts my_shortcuts_d current" th:attr="data-url='/mypage/playlist/' + ${user.providerId}">플레이리스트</a>
    </div>
<div class="my_body">
<!--    class="my_body_title_playlist_albums-->
    <p th:text="${userPlaylistName}" class="my_body_title"></p>
    <table class="my_table_playlist_albums">
        <tr th:each="album : ${albumList}" th:onclick="|handleMusicClick(${album.albumId})|">
            <td style="width: 9%">
                <img th:src="@{${album.album_image}}" width="50" alt="앨범 이미지"/>
            </td>
            <td style="width: 48%" class="my_table_padding my_table_body">
                <span th:text="${album.music_name}"></span>
            </td>
            <td style="width: 36%">
                <span th:text="${album.music_artist_name}"></span>
            </td>
            <td style="width: 7%">
                <button
                        th:data-album-id="${album.albumId}"
                        th:data-playlist-name="${userPlaylistName}"
                        th:data-url="'/mypage/playlist/albums/' + ${user.providerId} + '?userPlaylistName=' + ${userPlaylistName}"
                        th:onclick="'deleteFromPlaylist(' + ${album.albumId} + ', this)'"
                        class="btn btn-danger my_table_button my_shortcuts">
                삭제
                </button>

            </td>
        </tr>
    </table>
</div>

</div>
<script src="/js/main.js"></script> <!-- JavaScript 파일 연결 -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>
