<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">>
<head>
    <meta charset="UTF-8">
    <title>MyPage_Playlist</title>
    <link href="/css/main.css" rel="stylesheet">
</head>
<body>
<div th:replace="layout/mypage :: mypage"></div>
<div class="my_playlist"></div>
<div class="my_body">
    <img src="/images/go_back.png" class="my_playlist_back"
         th:onclick="|location.href='@{/mypage/playlist/{userId}(userId=${userId})}'|">
    <p th:text="${userPlaylistName}" class="my_body_title_playlist_albums"></p>
    <table class="my_table_playlist_albums">
        <tr th:each="album : ${albumList}">
            <td style="width: 9%">
                <img th:src="@{${album.album_image}}" width="50" alt="앨범 이미지"/>
            </td>
            <td style="width: 50%" class="my_table_padding my_table_body">
                <span th:text="${album.music_name}"></span>
            </td>
            <td style="width: 41%">
                <span th:text="${album.music_artist_name}"></span>
            </td>
        </tr>
    </table>
</div>
<div th:replace="play/under :: footer"></div>
</body>
</html>
