<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Header</title>
</head>
<body>

<div th:fragment="header">
    <div class="header">
        <!-- 로고 -->
        <p class="logo" onclick=window.location.href='/main';>
            MITI
        </p>

        <!-- 음악 검색 -->
        <input type="text" class="search_input" id="search" placeholder="Search for music or artist" autocomplete="off"/>

        <!-- 유저 메뉴 -->
        <div class="user">
            <a class="my_shortcuts" th:attr="data-url='/mypage/record/' + ${user.providerId}">마이페이지</a>
        </div>

        <div id="autocomplete-results">
            <!-- 검색 결과 아이템 -->
            <div class="autocomplete-item">
            </div>
        </div>


    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/main.js"></script> <!-- JavaScript 파일 연결 -->
    <script>
        $(document).ready(function () {
            // 검색 자동완성 기능
            $('#search').on('input', function () {
                var query = $(this).val();

                if (query.length > 1) {
                    $('#autocomplete-results').css('display', 'block');
                    $.ajax({
                        url: '/find/autocomplete',
                        type: 'GET',
                        data: {query: query},
                        success: function (data) {
                            $('#autocomplete-results').html(data);
                        },
                        error: function () {
                            $('#autocomplete-results').html('<p>자동완성 결과를 불러오는 중 오류가 발생했습니다.</p>');
                        }
                    });
                } else {
                    $('#autocomplete-results').css('display', 'none');
                }
            });

        });
    </script>
</div>
</body>
</html>