<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Header</title>
</head>
<body>
<div th:fragment="mypage">
    <div class="my_accordion-container">
        <!-- 스팬 태그로 사용자 이름 표시
        <span th:if="${user.isPresent()}" th:text="${user.get().name}" class="user" onclick="toggleAccordion()"></span>
-->
        <!-- 아코디언 메뉴 콘텐츠 -->
        <div class="my_accordion-content">
            <a href="/logout">로그아웃</a>
            <a th:href="@{/mypage/record/{userId}(userId=${user.providerId})}">마이페이지</a>
        </div>

        <script>
            function toggleAccordion() {
                var content = document.querySelector('.my_accordion-content');
                var isVisible = content.style.display === 'block';

                // 모든 아코디언 콘텐츠를 숨기기
                document.querySelectorAll('.my_accordion-content').forEach(function (item) {
                    item.style.display = 'none';
                });

                // 클릭한 아코디언 콘텐츠를 토글
                content.style.display = isVisible ? 'none' : 'block';
            }

            // 이벤트 핸들러에서 사용될 데이터 속성 활용
            function redirectToMainPage(element) {
                const providerId = element.getAttribute('data-provider-id');
                window.location.href = '/main/' + providerId;
            }

            function redirectToMypage(userId, path) {
                window.location.href = '/mypage/' + path + '/' + userId;
            }
        </script>
    </div>

    <div class="my_left">
        <img src="/images/logo.png" class="my_logo_img" alt="로고 이미지"
             th:attr="data-provider-id=${user.providerId}" onclick="redirectToMainPage(this)">

        <div class="my_category">
            <div th:onclick="|location.href='@{/mypage/record/{userId}(userId=${user.providerId})}'|" class="my_shortcuts">음악 기록</div>
            <div th:onclick="|location.href='@{/mypage/like/{userId}(userId=${user.providerId})}'|" class="my_shortcuts">좋아요</div>
            <div th:onclick="|location.href='@{/mypage/genre/{userId}(userId=${user.providerId})}'|" class="my_shortcuts">선호 장르</div>
            <div th:onclick="|location.href='@{/mypage/comment/{userId}(userId=${user.providerId})}'|" class="my_shortcuts">댓글</div>
            <div th:onclick="|location.href='@{/mypage/playlist/{userId}(userId=${user.providerId})}'|" class="my_shortcuts">플레이리스트</div>
        </div>
    </div>

</div>
</body>
</html>
