body {
    background-color: #d4e2d1ff;
}

div {
    letter-spacing: 1px;
}

a {
    text-decoration-line: none;
    display: inline;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: black;
}

.header {
    position: relative;
    height: 110px;
    width: 100%;
}

.logo {
    position: relative;
    top: 30px;
    left: 10%;
    width: 7%;
    font-size: 40px;
    font-weight: bolder;
}

.search {
    position: relative;
    top: -58px;
    margin: 0 auto;
    width: 40%;
    height: 40px;
    border: solid 1px rgba(177, 177, 177, 0.56);
}

.search_form {
    height: 100%;
    width: 100%;
}

.search_input {
    width: 84%;
    height: 100%;
    border: 0;
    outline: none;
    font-size: 16px;
    float: left;
}

.search_button {
    height: 100%;
    width: 15%;
    border: 0;
    background: #9eaa9a;
    color: #1e1e1e;
    font-size: 20px;
    font-weight: bold;
    float: right;
}

.search_button_img {
    position: relative;
    top: -10%;
    width: 50%;
    height: 120%;
    margin: 0 auto;
    opacity: 0.6;
}

.user {
    font-size: 25px;
    font-weight: bold;
    cursor: pointer; /* 클릭 가능하게 설정 */
}

.accordion-container {
    position: relative;
    top: -90px;
    left: 25%;
    display: inline-block;
    width: 7%;
}

.accordion-content {
    width: 80%;
    display: none;
    position: absolute;
    background-color: #9eaa9a;
    border: solid 1px rgba(177, 177, 177, 0.56);
    padding: 10px;
    z-index: 1000;
    margin-top: 10px;
}

.accordion-content a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: #333;
}

.accordion-content a:hover {
    background-color: rgba(221, 221, 221, 0.34);
}