<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <title>Login</title>
    <style>
        body {
            font-family: "Gothic A1", sans-serif;
            font-weight: 900;
            font-style: normal;
        }
    </style>
</head>
<body style="background-color: #121212; margin: 0;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;"
      >
<p style="color: white; font-size: 80px;">MITI</p>
</body>

<script>
    setTimeout('move_page()', 1500); //4초 후 이동
    function move_page() {
        location.href = "/oauth2/authorization/spotify"
    }
</script>
</html>
