<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link href="/css/main.css" rel="stylesheet">
    <title>Miti Main</title>
    <script src="/js/components/Main.js" defer></script> <!-- main.js를 불러오는 부분 -->
</head>
<body>
<div th:replace="~{layout/header :: header}"></div>

<div class="recommend_title">Recommended Playlist</div>
<div class="recommend" id="recommendedAlbums">
    <!-- 추천 플레이리스트 섹션은 자바스크립트에서 채워집니다. -->
</div>

<!-- 맞춤형 추천 곡들 섹션 -->
<div class="custom-songs-section" id="customizedSongs">
    <h2>맞춤형 추천 곡들</h2>
    <div class="songs-container"></div>
</div>

<!-- 인기차트 섹션 -->
<div class="chart_title">Popular Chart</div>
<div class="chart" id="popularChart">
    <!-- 인기 차트도 자바스크립트에서 채워집니다. -->
</div>

<div th:replace="~{play/under :: footer}"></div>
</body>
</html>