<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Player</title>
</head>
<body>
<div th:fragment="footer">
    <div id="root" th:attr="data-user-id=${user.providerId}"></div>

    <footer>
        <!-- React and ReactDOM from CDN -->
        <script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>
        <!-- Babel for JSX support -->
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

        <!-- Spotify Player Script -->
        <script src="https://sdk.scdn.co/spotify-player.js"></script>

        <!-- Link the external JS file -->
        <script src="/js/app.js" type="text/babel"></script>
    </footer>
</div>

</body>
</html>
