<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>update</title>
</head>
<body>
<form action="/user/update" method="post">
    <input type="hidden" th:value="${updateUser.id}" name="id"><br>
    이메일: <label>
    <input type="text" th:value="${updateUser.userMail}" name="userMail" readonly>
</label> <br>
    이름: <label>
    <input type="text" th:value="${updateUser.userName}" name="userName">
</label> <br>
    아이디: <label>
    <input type="text" th:value="${updateUser.userId}" name="userId" readonly>
</label> <br>
    비밀번호: <label>
    <input type="text" th:value="${updateUser.userPw}" name="userPw">
</label> <br>
    <input type="submit" value="정보수정">
</form>
</body>
</html>
