<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/main.css" rel="stylesheet">
    <title>Album Detail</title>
    <!--음악 재생 시간 분:초 단위로 변경-->
    <script type="text/javascript">
        function formatDuration(ms) {
            var minutes = Math.floor(ms / 60000);
            var seconds = ((ms % 60000) / 1000).toFixed(0);
            return minutes + ":" + (seconds < 10 ? '0' : '') + seconds;
        }
    </script>
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
</head>

<body>

<div th:replace="play/header :: header"></div>
<!--앨범 기본 정보-->
<div th:if="${firstAlbum != null}" class="album">
    <img th:src="@{${firstAlbum.album_image}}" alt="First Album Image" class="album_img">
    <div class="album_detail">
        <p th:text="${firstAlbum.detail}" class="album_name"></p>
        <button id="albumHeartButton" class="like-button">♡</button> <!-- 앨범 이름 옆에 하트 모양 버튼 추가 -->
        <p th:text="${firstAlbum.musicArtistName}" class="album_artist"></p>
        <p>followers: <span th:text="${firstAlbum.music_artist_followers}"></span></p>
        <p>artist genres: <span th:text="${firstAlbum.music_artist_genres}"></span></p>
    </div>
    <img src="/images/play.png" class="album_play_img">
</div>

<!--앨범에 해당되는 곡 목록-->
<div class="album_list">
    <table>
        <tbody>
        <tr th:each="album, iterStat : ${albums}">
            <td class="number" th:text="${iterStat.index + 1}"></td>
            <td class="name" th:text="${album.musicName}"></td>
            <td class="duration">
                <script th:inline="javascript">
                    var duration = /*[[${album.music_duration_ms}]]*/ '0';
                    document.write(formatDuration(duration));
                </script>
            </td>
            <td class="menu">
                <div class="accordion_container">
                    <button class="accordion2">:</button>
                    <div class="panel">
                        <button class="like-button" onclick="toggleTrackLike(this, '${album.id}')">좋아요</button> <!-- 수록곡 좋아요 버튼 추가 -->
                        <button>재생 목록에 추가</button>
                        <button>다음에 재생</button>
                        <a th:href="@{/album/{detail}/{id}(detail=${album.detail}, id=${member.id})}">
                            <button>앨범 정보</button>
                        </a>
                        <button class="accordion3">공유</button>
                        <div class="panel2">
                            <button>
                                <a href="#" onclick="clip(); return false;">링크 복사</a>
                            </button>
                            <button>
                                <a id="btnKakao" href="javascript:shareKakao();">카카오톡에 공유</a>
                            </button>
                            <button>
                                <a href="javascript:shareTwitter();">트위터에 공유</a>
                            </button>
                            <button>
                                <a href="javascript:shareFacebook();">페이스북에 공유</a>
                            </button>
                            <button>
                                <a href="javascript:shareBand();">밴드에 공유</a>
                            </button>
                        </div>
                    </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!--댓글-->
<div class="album_comments">
    <!--댓글 작성-->
    <div class="album_comments_form">
        <p>Comments</p>
        <form>
            <input type="hidden" name="userId" id="userId" th:value="${user.id}"/>
            <input type="hidden" name="albumId" id="albumId" th:value="${firstAlbum.id}"/>
            <textarea name="comment" id="comment"></textarea>
            <button type="button" onclick="submitComment()">post</button>
        </form>
    </div>
    <!--댓글 목록-->
    <div th:if="${comments != null}">
        <div th:each="comment : ${comments}" class="album_comments_list">
            <p th:text="${comment.userId}" class="comments_userid"></p>
            <p th:text="${comment.comment}" class="comments_body"></p>
        </div>
    </div>
</div>

<!-- 재생바 -->
<div class="playback-bar">
    <div class="track-info-container">
        <div class="track-info">
            <div>음악 제목</div>
            <div>가수 이름</div>
        </div>
        <div class="control-buttons">
            <button id="prevButton">⏮️</button> <!-- 이전 곡 버튼 -->
            <button id="playPauseButton">⏯️</button> <!-- 재생/일시정지 버튼 -->
            <button id="nextButton">⏭️</button> <!-- 다음 곡 버튼 -->
        </div>
        <button class="like-button" id="likeButton">♡</button> <!-- 전체 좋아요 버튼 -->
    </div>
</div>

<div th:replace="play/under :: footer"></div>

</body>

<!--좋아요 기능-->
<script>
    function toggleTrackLike(button, trackId) {
        const userId = document.getElementById('userId').value;

        fetch('/api/like/' + trackId, {
            method: button.classList.contains('liked') ? 'DELETE' : 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: `username=${userId}`
        }).then(response => response.json())
            .then(data => {
                if (data.success) {
                    if (button.classList.contains('liked')) {
                        button.classList.remove('liked');
                        button.innerText = '좋아요';
                    } else {
                        button.classList.add('liked');
                        button.innerText = '♥';
                    }
                }
            });
    }

    <!--댓글 생성 폼-->
    function submitComment() {
        var userId = document.getElementById('userId').value;
        var albumId = document.getElementById('albumId').value;
        var comment = document.getElementById('comment').value;

        // 데이터를 JSON 형태로 만들어 서버로 전송
        var data = {
            userId: userId,
            albumId: albumId,
            comment: comment
        };

        // 서버로 데이터 전송하는 로직
        fetch('/submitComment', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(function (response) {
            //응답처리
            if (response.ok) {
                console.log('Comment submitted successfully');
                location.reload();
            } else {
                console.error('Failed to submit comment');
            }
        }).catch(function (error) {
            console.error('Error submitting comment:', error);
        });
    }
</script>

<!--아코디언 메뉴-->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var acc = document.getElementsByClassName("accordion2");
        for (var i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel && panel.classList.contains('panel')) {
                    if (panel.style.display === "block") {
                        panel.style.display = "none";
                    } else {
                        panel.style.display = "block";
                    }
                }
            });
        }
    });

    document.addEventListener('DOMContentLoaded', function () {
        var acc = document.getElementsByClassName("accordion3");
        for (var i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
            });
        }
    });
</script>

<!--공유-->
<script th:inline="javascript">

    function clip() {
        var url = window.document.location.href;

        navigator.clipboard.writeText(url).then(function () {
            alert("URL이 복사되었습니다.");
        }).catch(function (error) {
            console.error('클립보드에 복사할 수 없습니다:', error);
            alert("URL 복사에 실패했습니다. 브라우저 설정을 확인해주세요.");
        });
    }

    var thisUrl = document.URL;
    var albumDetail = [[${firstAlbum.detail}]];
    var snsTitle = "MiTi에서 듣는 " + albumDetail;

    function shareTwitter() {
        var url = "http://twitter.com/share?url=" + encodeURIComponent(thisUrl) + "&text=" + encodeURIComponent(snsTitle);
        window.open(url, "tweetPop", "width=600, height=800,scrollbars=yes");
    }

    function shareFacebook() {
        var url = "http://www.facebook.com/sharer/sharer.php?u=" + encodeURIComponent(thisUrl);
        window.open(url, "", "width=600, height=800");
    }

    function shareBand() {
        var url = "http://www.band.us/plugin/share?body=" + encodeURIComponent(snsTitle) + "&route=" + encodeURIComponent(thisUrl);
        window.open(url, "shareBand", "width=600, height=800, resizable=yes");
    }

    function shareKakao() {
        Kakao.init('c674475155401a14bdb7e23238b59868');

        Kakao.Link.createDefaultButton({
            container: '#btnKakao',
            objectType: 'feed',
            content: {
                title: snsTitle,
                imageUrl: thisUrl,
                link: {
                    mobileWebUrl: thisUrl,
                    webUrl: thisUrl
                }
            }
        });
    }
</script>

<!-- 앨범 트랙 재생 기능 -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const playAllButton = document.getElementById('play-all-button');
        const playButtons = document.querySelectorAll('.play-button');
        const albumListItems = document.querySelectorAll('#album-list li');
        let currentTrackIndex = 0;
        let audio = new Audio();

        playButtons.forEach((button, index) => {
            button.addEventListener('click', () => {
                currentTrackIndex = index;
                playTrack();
            });
        });

        playAllButton.addEventListener('click', () => {
            currentTrackIndex = 0;
            playTrack();
        });

        function playTrack() {
            if (currentTrackIndex >= albumListItems.length) {
                console.log('All tracks finished');
                return;
            }

            const trackElement = albumListItems[currentTrackIndex];
            const trackUrl = trackElement.getAttribute('data-music-url');

            if (trackUrl) {
                audio.src = trackUrl;
                audio.play();

                audio.onended = () => {
                    currentTrackIndex++;
                    playTrack();
                };
            } else {
                console.error('Track URL is not available');
            }
        }

        window.addEventListener('beforeunload', function () {
            if (audio) {
                audio.pause();
                audio.src = '';
            }
        });
    });
</script>

<!-- 앨범 전체 좋아요 기능 -->
<script>
    document.getElementById('albumHeartButton').addEventListener('click', function () {
        const userId = document.getElementById('userId').value;
        const albumId = document.getElementById('albumId').value;

        fetch('/mypage/like/toggle', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: `userId=${userId}&albumId=${albumId}`
        }).then(response => response.text())
            .then(result => {
                const isLiked = result === "liked";
                if (isLiked) {
                    document.querySelectorAll('.album_list .like-button').forEach(button => {
                        button.classList.add('liked');
                        button.innerText = '♥';
                    });
                    this.classList.add('liked');
                    this.innerText = '♥';
                    alert("앨범의 모든 곡에 좋아요를 눌렀습니다!");
                } else {
                    document.querySelectorAll('.album_list .like-button').forEach(button => {
                        button.classList.remove('liked');
                        button.innerText = '♡';
                    });
                    this.classList.remove('liked');
                    this.innerText = '♡';
                    alert("앨범의 모든 곡에 대한 좋아요를 취소했습니다!");
                }
            });
    });
</script>

</html>
