<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
    <script type="text/javascript">
        function formatDuration(ms) {
            var minutes = Math.floor(ms / 60000);
            var seconds = ((ms % 60000) / 1000).toFixed(0);
            return minutes + ":" + (seconds < 10 ? '0' : '') + seconds;
        }
    </script>
</head>
<body>
<div th:if="${firstAlbum != null}">
    <h1  th:text="${firstAlbum.detail}"></h1>
    <img th:src="@{${firstAlbum.album_image}}" alt="First Album Image" width="300px">
    <p th:text="${firstAlbum.music_artist_name}"></p>
    <p>followers: <span th:text="${firstAlbum.music_artist_followers}"></span></p>
    <p>artist genres: <span th:text="${firstAlbum.music_artist_genres}"></span></p>
</div>
<hr>
<ul style="list-style-type: none;">
    <li th:each="album, iterStat : ${albums}">
        <span th:text="${iterStat.index + 1} + '. ' + ${album.music_name}"></span>
        <script th:inline="javascript">
            var duration = /*[[${album.music_duration_ms}]]*/ '0';
            document.write(formatDuration(duration));
        </script>
    </li>
</ul>

<form>

</form>

</body>
</html>
